node-linker=hoisted
prefer-symlinked-executables=false
shell-emulator=true

# remove after upgrade to pnpm v8
use-lockfile-v6=true
auto-install-peers=true
resolve-peers-from-workspace-root=true
save-workspace-protocol=rolling
resolution-mode=lowest-direct
