@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/custom-folder/CormorantGaramond-Medium_-nWJ-OtHncaW9xDHQ9hSA_CBl88Oo59QKH_z9pCWva2.woff2")
    format("woff2");
}
@media all {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve;
  }
  :where(body.w-body) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
  }
  :where(h1.w-heading) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(h2.w-heading) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(h3.w-heading) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(h4.w-heading) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(h5.w-heading) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(h6.w-heading) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(a.w-link) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em;
    display: inline-block;
  }
  :where(div.w-vimeo) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(img.w-preview-image) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto;
  }
  :where(button.w-play-button) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0;
  }
  :where(div.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(address.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(article.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(aside.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(figure.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(footer.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(header.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(main.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(nav.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(section.w-box) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(div.w-html-embed) {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse;
  }
  :where(div.w-spinner) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  :where(img.w-image) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto;
  }
}
@media all {
  .ce7mxws {
    font-size: 4em;
  }
  .cd0g70b {
    font-family: "Cormorant Garamond", sans-serif;
  }
  .c1ku1ozg {
    background-attachment: scroll, scroll, scroll;
  }
  .c1kbs9xq {
    -webkit-background-clip: border-box, border-box, border-box;
    background-clip: border-box, border-box, border-box;
  }
  .c1m6kmmg {
    background-blend-mode: normal, normal, normal;
  }
  .crjoqt7 {
    background-image: linear-gradient(
        rgba(255, 0, 0, 0.2),
        rgba(0, 255, 255, 0.2)
      ),
      url("/custom-folder/home_wsKvRSqvkajPPBeycZ-C8.svg"),
      linear-gradient(to right, rgba(255, 0, 255, 0.2), rgba(0, 255, 0, 0.2));
  }
  .c1n5sjmn {
    background-origin: padding-box, padding-box, padding-box;
  }
  .c1hqh3e6 {
    background-position: 0%, 0%, 0%;
  }
  .cwdggon {
    background-repeat: repeat, repeat, repeat;
  }
  .c4o64du {
    background-size: auto, auto, auto;
  }
  .cjrgi00 {
    margin: 15px;
  }
  .c17osjft {
    position: relative;
  }
  .c5kxibo {
    aspect-ratio: 640/360;
  }
  .c8mrdqb {
    width: 100%;
  }
  .c13adha2 {
    position: absolute;
  }
  .c19kjzjn {
    object-fit: cover;
  }
  .chv0hit {
    height: 100%;
  }
  .c1vw7ut7 {
    border-top-left-radius: 20px;
  }
  .c64vnj4 {
    border-top-right-radius: 20px;
  }
  .cow7xo6 {
    border-bottom-left-radius: 20px;
  }
  .cddunt6 {
    border-bottom-right-radius: 20px;
  }
  .cqjhyu2 {
    object-position: cover;
  }
  .c1t88ri8 {
    width: 140px;
  }
  .ca7kf99 {
    height: 80px;
  }
  .c1ifzo79 {
    top: 50%;
  }
  .c1ljqvnn {
    left: 50%;
  }
  .c1bld9op {
    margin-top: -40px;
  }
  .ctly9e6 {
    margin-left: -70px;
  }
  .cxb89wn {
    display: flex;
  }
  .cwcnvqs {
    align-items: center;
  }
  .cvchf4 {
    justify-content: center;
  }
  .c1y7dyx {
    border-top-style: none;
  }
  .c1bnrgjg {
    border-right-style: none;
  }
  .c1joowif {
    border-bottom-style: none;
  }
  .c120xed6 {
    border-left-style: none;
  }
  .c2eug5n {
    border-top-left-radius: 5px;
  }
  .cvwgylz {
    border-top-right-radius: 5px;
  }
  .c1f0qcby {
    border-bottom-left-radius: 5px;
  }
  .c1syyj1x {
    border-bottom-right-radius: 5px;
  }
  .cil01r8 {
    cursor: pointer;
  }
  .c11087u4 {
    background-color: rgba(18, 18, 18, 1);
  }
  .coba2o7 {
    color: rgba(255, 255, 255, 1);
  }
  .c82nx6d:hover {
    background-color: rgba(0, 173, 239, 1);
  }
  .c1cccshn {
    width: 60px;
  }
  .c1eyznz {
    height: 60px;
  }
  .c10zke2u {
    width: 70px;
  }
  .cplzsl2 {
    height: 70px;
  }
  .c1ardg8l {
    margin-top: -35px;
  }
  .ces5mo3 {
    margin-left: -35px;
  }
  .c12qr5j7 {
    flex-direction: row;
  }
  .c111rqf8 {
    flex-wrap: nowrap;
  }
  .cp8i2p0 {
    align-items: stretch;
  }
  .cwfevk3 {
    justify-content: space-between;
  }
  .ccgiojm {
    flex-grow: 1;
  }
  .cv4f3rn {
    flex-shrink: 0;
  }
  .cer5re4 {
    min-width: 0px;
  }
  .c9lz7ss {
    flex-basis: 0px;
  }
}
