@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/custom-folder/CormorantGaramond-Medium_-nWJ-OtHncaW9xDHQ9hSA_CBl88Oo59QKH_z9pCWva2.woff2")
    format("woff2");
}
html {
  margin: 0;
  display: grid;
  min-height: 100%;
}
@media all {
  body:where([data-ws-component="Body"]) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h2:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h3:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h4:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h5:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h6:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  a:where([data-ws-component="Link"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em;
    display: inline-block;
  }
  div:where([data-ws-component="Vimeo"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  img:where([data-ws-component="VimeoPreviewImage"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto;
  }
  button:where([data-ws-component="VimeoPlayButton"]) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
  }
  div:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  address:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  article:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  aside:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  figure:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  footer:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  header:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  main:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  nav:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  section:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  div:where([data-ws-component="VimeoSpinner"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  img:where([data-ws-component="Image"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto;
  }
  div:where([data-ws-component="Text"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em;
  }
}
@media all {
  .c12poxag {
    font-size: 4em;
  }
  .c13p4xw {
    font-family: "Cormorant Garamond", sans-serif;
  }
  .cpwo0o8 {
    background-attachment: scroll, scroll, scroll;
  }
  .cjtvnga {
    -webkit-background-clip: border-box, border-box, border-box;
  }
  .c1dgu1f0 {
    background-blend-mode: normal, normal, normal;
  }
  .c1mko7pq {
    background-image: linear-gradient(
        rgba(255, 0, 0, 0.2),
        rgba(0, 255, 255, 0.2)
      ),
      url("/custom-folder/home_wsKvRSqvkajPPBeycZ-C8.svg"),
      linear-gradient(to right, rgba(255, 0, 255, 0.2), rgba(0, 255, 0, 0.2));
  }
  .c1ryjtry {
    background-origin: padding-box, padding-box, padding-box;
  }
  .c1yhbwj4 {
    background-position: 0%, 0%, 0%;
  }
  .cm4n0xq {
    background-repeat: repeat, repeat, repeat;
  }
  .c1weo8li {
    background-size: auto, auto, auto;
  }
  .crro89i {
    margin-top: 15px;
  }
  .ca0mhw9 {
    margin-bottom: 15px;
  }
  .c1ldy0s3 {
    margin-right: 15px;
  }
  .c1t3ec4y {
    margin-left: 15px;
  }
  .c17osjft {
    position: relative;
  }
  .c53gbe {
    aspect-ratio: 640/360;
  }
  .c8mrdqb {
    width: 100%;
  }
  .c13adha2 {
    position: absolute;
  }
  .c3sa779 {
    object-fit: cover;
  }
  .chv0hit {
    height: 100%;
  }
  .c14mu2ti {
    border-top-left-radius: 20px;
  }
  .c1dsdrfn {
    border-top-right-radius: 20px;
  }
  .c1id445d {
    border-bottom-left-radius: 20px;
  }
  .cf36655 {
    border-bottom-right-radius: 20px;
  }
  .c1dfx0rt {
    object-position: cover;
  }
  .c1t88ri8 {
    width: 140px;
  }
  .ca7kf99 {
    height: 80px;
  }
  .c1ifzo79 {
    top: 50%;
  }
  .c1ljqvnn {
    left: 50%;
  }
  .cguufcz {
    margin-top: -40px;
  }
  .c1an2y3u {
    margin-left: -70px;
  }
  .cxb89wn {
    display: flex;
  }
  .c1h8v1ng {
    align-items: center;
  }
  .c19cfw6s {
    justify-content: center;
  }
  .cv7bbk3 {
    border-top-style: none;
  }
  .c1tly7k {
    border-right-style: none;
  }
  .c8mtcs {
    border-bottom-style: none;
  }
  .c7jk6jf {
    border-left-style: none;
  }
  .c17y59v6 {
    border-top-left-radius: 5px;
  }
  .c1d4fd4d {
    border-top-right-radius: 5px;
  }
  .c1yj9i1y {
    border-bottom-left-radius: 5px;
  }
  .c1xqoqjh {
    border-bottom-right-radius: 5px;
  }
  .cil01r8 {
    cursor: pointer;
  }
  .crmtz4w {
    background-color: rgba(18, 18, 18, 1);
  }
  .coba2o7 {
    color: rgba(255, 255, 255, 1);
  }
  .c11eux2f:hover {
    background-color: rgba(0, 173, 239, 1);
  }
  .c1cccshn {
    width: 60px;
  }
  .c1eyznz {
    height: 60px;
  }
  .c10zke2u {
    width: 70px;
  }
  .cplzsl2 {
    height: 70px;
  }
  .c1h30nuz {
    margin-top: -35px;
  }
  .czav9qc {
    margin-left: -35px;
  }
  .czqi13r {
    flex-direction: row;
  }
  .ct7y0ym {
    flex-wrap: nowrap;
  }
  .cy9si0i {
    align-items: stretch;
  }
  .c1zln9k {
    justify-content: space-between;
  }
  .c9mecv {
    flex-grow: 1;
  }
  .c1xeb6ie {
    flex-shrink: 0;
  }
  .c1cpdzfi {
    min-width: 0px;
  }
  .cub4hpc {
    flex-basis: 0px;
  }
  .cwnydv4 {
    color: rgba(36, 12, 233, 1);
  }
  .cnvcd8b {
    margin-left: 20px;
  }
  .c1s70es7 {
    color: rgba(8, 137, 17, 1);
  }
  .c5fu8k4 {
    font-weight: 600;
  }
  .cgkkof0 {
    color: rgba(208, 24, 79, 1);
  }
}
