html {
  margin: 0;
  display: grid;
  min-height: 100%;
}
@media all {
  body:where([data-ws-component="Body"]) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  div:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  address:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  article:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  aside:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  figure:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  footer:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  header:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  main:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  nav:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  section:where([data-ws-component="Box"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  form:where([data-ws-component="RemixForm"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  button:where(
      [data-ws-component="@webstudio-is/sdk-components-react-radix:SelectTrigger"]
    ) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
  }
  span:where(
      [data-ws-component="@webstudio-is/sdk-components-react-radix:SelectValue"]
    ) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  div:where(
      [data-ws-component="@webstudio-is/sdk-components-react-radix:SelectContent"]
    ) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  div:where(
      [data-ws-component="@webstudio-is/sdk-components-react-radix:SelectViewport"]
    ) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  div:where(
      [data-ws-component="@webstudio-is/sdk-components-react-radix:SelectItem"]
    ) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  span:where(
      [data-ws-component="@webstudio-is/sdk-components-react-radix:SelectItemIndicator"]
    ) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  span:where(
      [data-ws-component="@webstudio-is/sdk-components-react-radix:SelectItemText"]
    ) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  button:where([data-ws-component="Button"]) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
  }
  input:where([data-ws-component="Input"]) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: block;
  }
  a:where([data-ws-component="Link"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em;
    display: inline-block;
  }
  img:where([data-ws-component="Image"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto;
  }
  h1:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h2:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h3:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h4:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h5:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h6:where([data-ws-component="Heading"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  p:where([data-ws-component="Paragraph"]) {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
}
@media all {
  .c9w0js3 {
    padding-top: 0px;
  }
  .crec23g {
    padding-bottom: 0px;
  }
  .czf3p0a {
    padding-right: 16px;
  }
  .c1frozhb {
    padding-left: 16px;
  }
  .c12rmqio {
    margin-top: 10px;
  }
  .c1ws6qna {
    margin-bottom: 10px;
  }
  .cfs62og {
    display: flex;
  }
  .cl3aj52 {
    flex-direction: column;
  }
  .cg5osat {
    row-gap: 30px;
  }
  .c1ps6q8g {
    column-gap: 0px;
  }
  .c8l3v1d {
    display: contents;
  }
  .c1169emm {
    height: 2.5rem;
  }
  .cpoa22m {
    width: 100%;
  }
  .ccas8a6 {
    align-items: center;
  }
  .c1ft3tuv {
    justify-content: space-between;
  }
  .c1s7jy0x {
    border-top-left-radius: 0.375rem;
  }
  .c5gvgbl {
    border-top-right-radius: 0.375rem;
  }
  .cgkz31j {
    border-bottom-right-radius: 0.375rem;
  }
  .ctw4ral {
    border-bottom-left-radius: 0.375rem;
  }
  .c1wv10mq {
    border-top-style: solid;
  }
  .c1a8nxfp {
    border-right-style: solid;
  }
  .c11ketvx {
    border-bottom-style: solid;
  }
  .c1vgakz9 {
    border-left-style: solid;
  }
  .c1foa4db {
    border-top-color: rgba(226, 232, 240, 1);
  }
  .c1718jv3 {
    border-right-color: rgba(226, 232, 240, 1);
  }
  .c1d0efu2 {
    border-bottom-color: rgba(226, 232, 240, 1);
  }
  .cjm20zn {
    border-left-color: rgba(226, 232, 240, 1);
  }
  .c11h88u {
    border-top-width: 1px;
  }
  .c1mkv626 {
    border-right-width: 1px;
  }
  .cdb0mby {
    border-bottom-width: 1px;
  }
  .c11jxz56 {
    border-left-width: 1px;
  }
  .caau6y {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .c1yffdjf {
    padding-left: 0.75rem;
  }
  .cp7q94q {
    padding-right: 0.75rem;
  }
  .cejtojh {
    padding-top: 0.5rem;
  }
  .c18wkwoh {
    padding-bottom: 0.5rem;
  }
  .c1e35tqm {
    font-size: 0.875rem;
  }
  .c4q3njg {
    line-height: 1.25rem;
  }
  .c18cnn0q {
    flex-grow: 1;
  }
  .crxnevd::placeholder {
    color: rgba(100, 116, 139, 1);
  }
  .coh2pta:focus {
    outline-width: 2px;
  }
  .c6p0elp:focus {
    outline-style: solid;
  }
  .c101i5gm:focus {
    outline-color: transparent;
  }
  .chtmsd6:focus {
    outline-offset: 2px;
  }
  .cmp9xw5:focus {
    box-shadow:
      0 0 0 2px rgba(255, 255, 255, 0.8),
      0 0 0 4px rgba(148, 163, 184, 1);
  }
  .c15r3j0z:disabled {
    cursor: not-allowed;
  }
  .c15f9rki:disabled {
    opacity: 0.5;
  }
  .c9hoajy {
    position: relative;
  }
  .c1top526 {
    z-index: 50;
  }
  .c1rqfzp1 {
    min-width: 8rem;
  }
  .c1l3qjqn {
    overflow: hidden;
  }
  .c2fgzrl {
    background-color: rgba(255, 255, 255, 1);
  }
  .c1fxvknb {
    color: rgba(2, 8, 23, 1);
  }
  .ce6ck7y {
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  .c1yfepmk {
    padding-left: 0.25rem;
  }
  .ccumtru {
    padding-right: 0.25rem;
  }
  .c1w43h8 {
    padding-top: 0.25rem;
  }
  .cp6sgc9 {
    padding-bottom: 0.25rem;
  }
  .c1kpe86h {
    height: var(--radix-select-trigger-height);
  }
  .c1nwehpe {
    min-width: var(--radix-select-trigger-width);
  }
  .cew4vof {
    cursor: default;
  }
  .c1gk28c6 {
    user-select: none;
  }
  .c170nyhs {
    padding-top: 0.375rem;
  }
  .cfcevo2 {
    padding-bottom: 0.375rem;
  }
  .cjzp38g {
    padding-left: 2rem;
  }
  .c16233g {
    padding-right: 0.5rem;
  }
  .ci81qpb {
    outline-width: 2px;
  }
  .c4pnk22 {
    outline-style: solid;
  }
  .c2ehbtt {
    outline-color: transparent;
  }
  .c1ttg34v {
    outline-offset: 2px;
  }
  .c1toxws7:focus {
    background-color: rgba(241, 245, 249, 0.9);
  }
  .c15mfvu:focus {
    color: rgba(15, 23, 42, 1);
  }
  .c139uqwg[data-disabled] {
    pointer-events: none;
  }
  .c150if85[data-disabled] {
    opacity: 0.5;
  }
  .c1d71f7l {
    position: absolute;
  }
  .cqbn13w {
    left: 0.5rem;
  }
  .c1f4msbl {
    height: 0.875rem;
  }
  .c1bkdfak {
    width: 0.875rem;
  }
  .c2exht7 {
    justify-content: center;
  }
  .cm9gm7b {
    column-gap: 8px;
  }
  .clyyici {
    row-gap: 8px;
  }
  .c1tklczs {
    justify-content: end;
  }
  .cu11urf {
    margin-bottom: 16px;
  }
  .c161mlss {
    min-width: 0px;
  }
  .c1leavt2 {
    flex-basis: 0px;
  }
  .c1b47b4b {
    flex-shrink: 0;
  }
  .c1nmdfll {
    color: unset;
  }
  .ct6klrt {
    font-family: system-ui;
  }
  .c5qziui {
    font-size: unset;
  }
  .c10rykhr {
    line-height: unset;
  }
  .c1l7qv32 {
    margin-right: 10px;
  }
  .c1b1kuf5 {
    margin-left: 10px;
  }
  .c1q6wzbb {
    margin-top: 16px;
  }
  .c1brz1nu {
    column-gap: 16px;
  }
  .c15e31qz {
    row-gap: 16px;
  }
}
@media all and (max-width: 991px) {
  .c1d88vbv {
    display: flex;
  }
}
@media all and (max-width: 479px) {
  .c4o9sxs {
    flex-direction: column;
  }
}
