@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve;
  }
  body.w-body {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
  }
  h1.w-heading {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h2.w-heading {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h3.w-heading {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h4.w-heading {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h5.w-heading {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h6.w-heading {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  div.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  address.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  article.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  aside.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  figure.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  footer.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  header.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  main.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  nav.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  section.w-box {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  p.w-paragraph {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  img.w-image {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    max-width: 100%;
    display: block;
    height: auto;
  }
  a.w-link {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    display: inline-block;
  }
  div.w-text {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    min-height: 1em;
  }
  div.w-accordion {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  div.w-item {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  h3.w-item-header {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  button.w-item-trigger {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    text-transform: none;
    background-color: transparent;
    background-image: none;
    border: 0px solid rgba(226, 232, 240, 1);
    margin: 0;
    padding: 0px;
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse;
  }
  div.w-item-content {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  form.w-webhook-form {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
  }
  label.w-input-label {
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    outline-width: 1px;
    display: block;
  }
  input.w-text-input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: block;
    margin: 0;
  }
  button.w-button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0;
  }
}
@media all {
  .ceva767 {
    font-size: 4em;
  }
  .c13v7j50 {
    display: flex;
  }
  .cqkqnmd {
    justify-content: center;
  }
  .cv6wa71 {
    align-items: start;
  }
  .c1t3ybra {
    min-width: 0px;
  }
  .c1qxdkbn {
    flex-grow: 1;
  }
  .c1ogzcge {
    flex-shrink: 0;
  }
  .cv3kvac {
    flex-basis: 0px;
  }
  .c1czoo99 {
    aspect-ratio: 1;
  }
  .cielobv {
    padding: 16px;
  }
  .c2onvcp {
    border-bottom: 1px solid rgba(226, 232, 240, 1);
  }
  .chhejm9 {
    flex-shrink: 1;
  }
  .c13bviim {
    flex-basis: 0%;
  }
  .cpjvam0 {
    align-items: center;
  }
  .c1tw5o2 {
    justify-content: space-between;
  }
  .cqw88jp {
    padding-top: 1rem;
  }
  .c44srea {
    padding-bottom: 1rem;
  }
  .c14kxsax {
    font-weight: 500;
  }
  .cg783j6 {
    --accordion-trigger-icon-transform: 0deg;
  }
  .c1ad236a:hover {
    text-decoration-line: underline;
  }
  .c1s4llbc[data-state="open"] {
    --accordion-trigger-icon-transform: 180deg;
  }
  .c14hansb {
    rotate: var(--accordion-trigger-icon-transform);
  }
  .c6d2sb5 {
    height: 1rem;
  }
  .cwwiftc {
    width: 1rem;
  }
  .c16vb2zi {
    flex-grow: 0;
  }
  .c1hl6g8z {
    transition-property: all;
  }
  .c1xm49r0 {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .c1vri55v {
    transition-duration: 200ms;
  }
  .c1j0j9ep {
    font-size: 0.875rem;
  }
  .c1gl2i2 {
    line-height: 1.25rem;
  }
  .c1xcxvc0 {
    overflow-x: hidden;
  }
  .c12ct49k {
    overflow-y: hidden;
  }
  .ch2exr5 {
    display: block;
  }
  .cm16yxw {
    width: 300px;
  }
  .ctm310 {
    margin-top: 12px;
  }
  .c1jumvji {
    margin-top: 1em;
  }
  .cvdtpev {
    margin-bottom: 0em;
  }
  .cc5h0no {
    font-size: 1em;
  }
  .coklr1z {
    background-color: rgba(251, 247, 3, 1);
  }
  .c1cqkpk9 {
    background-color: rgba(89, 250, 2, 1);
  }
  .ccxj65f {
    background-color: rgba(2, 250, 168, 1);
  }
  .c1a2hnxl {
    background-color: rgba(2, 139, 250, 1);
  }
  .c1m04i8w {
    height: 100dvh;
  }
}
@media all and (min-width: 472px) {
  .c1jgcte3 {
    max-width: 900px;
  }
  .cncutr5 {
    width: 100%;
  }
  .c1ywt30e {
    min-width: 0px;
  }
  .cqvurle {
    justify-self: center;
  }
  .c1y8ynw5 {
    display: grid;
  }
  .c2gdfrb {
    grid-auto-flow: column;
  }
  .c1yk3skc {
    grid-auto-columns: 1fr;
  }
  .c16asro7 {
    align-items: start;
  }
  .c1pt69cw {
    align-content: start;
  }
  .cq3mp4w {
    height: 40dvh;
  }
  .c1pdroxx {
    margin-top: 0em;
  }
  .cudat22 {
    margin-bottom: 0em;
  }
}
