name: React SDK
on:
  push:
    paths:
      - "packages/react-sdk/**/*"
      - ".github/workflows/react-sdk.yml"
      - ".github/actions/publish/action.yaml"
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/publish
        with:
          workdir: ./packages/react-sdk
          filter: "@webstudio-is/react-sdk"
          token: ${{ secrets.NPM_TOKEN }}
