on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: 'npm'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --ignore-scripts

      - name: Build Storybook for Design System
        run: turbo run storybook:build --filter=design-system

      - name: Lost Pixel
        uses: lost-pixel/lost-pixel@v2.20.0
